/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
	h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;    
    background-image: url(../img/phonebackground.jpg);
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}
}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}
}

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
  background-attachment:scroll;

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* ----------- Windows Phone ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* Portrait */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px)  
  and (orientation: portrait) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}

/* Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) 
  and (orientation: landscape) {
h2 {
	 margin-top: 25%;
	}
    .bg-home {
    background-color: blue;
    background-image: none;
	background-size: cover;
	position: relative;
	background-position: center center;
}

}